* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    padding: 10px;
    background-color: blue;
}

header .header-container {
    border: 1px black solid;
    position: relative;

    width: 100%;
    height: 500px;
}

header .header-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header .header-container .header-title {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}

header .header-title h1 {
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}