* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

header .header-container {
    position: relative;

    width: 100%;
    height: 100vh;
}

header .header-container img {
    user-select: none; 
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header .header-container .header-title {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 40px;
    width: 750px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .main-container > div:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

main .main-container > div {
    max-width: 100%;
    min-widtH: 25%;
    height: 325px;

    padding: 10px;
}

main .main-container .mountain p {
    border: 1px solid black;
    float: left;
    max-width: 70%;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}

footer a {
    color: red;
    font-size: 14px;
    text-decoration: none;

}
footer a:hover {
    text-decoration: underline;
}

footer p {
    color:rgb(179, 179, 179);
    display: inline-block;
}