* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

/* Header */

header .header-container {
    position: relative;

    width: 100%;
    height: 100vh;
}

header .header-container img {
    user-select: none; 
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mission-values {
    background-color: black;
    color: white;
    position: absolute;
    width: 250px;
    height: 415px;

    top: 20%;
    right: 5%;
}

header .header-container .header-title {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 40px;
    width: 750px;
    text-align: center;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main */

main .main-container > div:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

main .main-container .mountain p {
    border: 1px solid black;
    float: left;
    max-width: 70%;
}

/* Forms */
.contact {
    padding: 25px;
    height: auto;
}

.contact h1 {
    text-align: center;
}

.developer {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    width: 75%;
}

.developer h3 {
    margin: 10px 0;
    text-align: center;
}
.developer a {
    text-decoration: none;
}
.developer a:hover {
    text-decoration: underline;
}

form {
    margin: 0 auto;

    height: auto;
    width: 75%;
}

form .first-and-last-name {
    display: flex;
    justify-content: space-around;
}

form .email {
    margin: 10px 0;
}

form .email, .textarea, .button {
    display: flex;
    justify-content: center;
}

form .button {
    margin-top: 10px;
}

.contact form textarea, input {
    border-radius: 5px;
}

.contact form textarea {
    resize: none;
}

.vision-mission-values {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 600px;
}

.vision-mission-wrapper {
    width: 75%;
    height: 500px;
    margin: auto auto;
}

.vision {
    text-align: center;
}

.mission {
    text-align: center;
    margin-top: 100px;
}

.values {
    text-align: center;
    margin-top: 100px;
}

.vision-mission-wrapper img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Foot */

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}

footer a {
    color: red;
    font-size: 14px;
    text-decoration: none;

}
footer a:hover {
    text-decoration: underline;
}

footer p {
    color:rgb(179, 179, 179);
    display: inline-block;
}